* {
  box-sizing: border-box;

  /* for development */
  _outline: 2px solid red;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
}
h1,
h2 {
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  color: var(--color);
  background: var(--background-color-base);
}

.hidden {
  display: none;
}
