@import url('../styles.css');

.card {
  display: grid;
  background-color: var(--background-color-cards);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 1rem;
  position: relative;
  margin-top: 1.5rem;
}

.card__bookmark {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 2.5rem;
  position: absolute;
  right: 1.5rem;
  top: -1.5rem;
}

.card__bookmark--svg {
  fill: pink;
}

.card__bookmark--svg-active {
  fill: hotpink;
}

.card__button {
  width: 10rem;
  justify-self: center;
}

.card__tagwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.card__tagwrapper > span {
  background-color: var(--background-color-tags);
  color: var(--color-tags);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  box-shadow: var(--shadow-light);
}
