.navigation {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-color-marginals);
}

.navigation__button {
  border: none;
  background-color: none;
  border-right: 1px solid pink;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation__button:last-child {
  border-right: none;
}

.navigation__button:hover {
  background-color: powderblue;
}

.navigation__svg {
  fill: pink;
  height: 3.5rem;
  padding: 0.5rem;
}

.navigation__svg--active {
  fill: hotpink;
}
